/* exercice.css */

.root {
    -fx-background-color: #f4f4f4;
}

.label {
    -fx-text-fill:Black;
    -fx-font-family: "Arial Bold";
    -fx-font-size: 14px;
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.button {
    -fx-background-color: Black;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Arial Bold";
}

.button:hover {
    -fx-background-color: #ff9900;
}
.custom-label {
    -fx-text-fill: #000000; /* Couleur noire */
}
.custom-label {
    -fx-text-fill: #000000; /* Black color */
}
/* Ajoutez ces styles à votre fichier exercice.css */

/* Sélectionnez les enfants de l'AnchorPane */
.anchor-pane > * {
    /* Appliquez les styles pour la demi-partie de l'interface */
    -fx-background-color: #fb8000; /* Couleur de fond */
    -fx-padding: 15px; /* Marge intérieure */
}
.root {
    -fx-background-color: #fb8000; /* Couleur de fond pour toute l'interface */
}