

.text-field{
    -fx-border-radius: 30px;
    -fx-border-color:  #000000;
    -fx-background-color:#fb8000;

}
.label{
    -fx-font-family:"Bauhaus 93";
    -fx-font-size: 16px;
    -fx-font-style: Bold ;
}

.table-view{
    -fx-background-color:#fb8000;
    -fx-border-color: #13100e;
    -fx-border-radius: 15px;
}
.button{
    -fx-text-fill: #f19a00;
    -fx-background-color: #000000;
}
.choice-box{
    -fx-text-fill: #f19a00;
    -fx-background-color: #000000;
}
#status{
    -fx-alignment: left;
}
